@charset "utf-8";

body {
    margin: 0px auto;
    min-width: 320px;
    max-width: 1020px;  
    width: 100%;
 }

 /* nav bar */

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 nav.navbar {
    display: block;
 }

nav.navbar ul li{
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    line-height: 30px;
    height: 30px;
    width: 18%;
    background-color: grey;
    border: black solid 2px;
    margin-right: auto;
    margin-left: auto;
}

a {
    color: white;
}

nav.navbar ul {
    width: 100%;
}

/* footer */

footer {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 5px;
    margin-top: 4%;
}