@charset "utf-8";

div.row:after {
    display: table;
    clear: both;
}

.column {
    float: left;
    background-color: lightgrey;
    border-color: black solid 4px;
}

table {
    border: black solid 3px;
}